# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Intellij IDEs configs
.idea

# Dependencies
node_modules

# Compiled
static/scripts/**/*.js
static/scripts/**/*.js.map
static/scripts/bundle.js

static/style/**/*.css
static/style/**/*.css.map


.DS_Store

npm-debug.log
.sass-cache
.swp
