<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{#    <link rel="stylesheet" href="{{ url_for('static', filename='style/test.css') }}">#}
</head>
<body>

    <div id=plot style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
    <button id=regen-button>Re-generate points</button>

{#    <script src="{{ url_for('npm', filename='jquery/dist/jquery.min.js') }}"></script>#}
{#    <script src="{{ url_for('npm', filename='plotly.js/dist/plotly-basic.min.js') }}"></script>#}
    <script src="{{ url_for('static', filename='scripts/bundle.js') }}"></script>
</body>
</html>
